:root {
    --background-color: rgb(65, 65, 65);
    --main-color: rgb(255, 68, 194);
    --sidebar-color: rgb(52, 52, 52);
    --secondary-color: rgb(148, 148, 148);
    --sidebar-buttons: rgb(40, 40, 40);
    --sidebar-button-hover: rgb(99, 99, 99);

    --panel-color: rgb(53, 52, 53);
    --panel-header-color: rgb(40, 39, 41);
    --button-color: rgb(255, 62, 153);
    --button-hover-color: rgb(204, 50, 123);

    --levitation-font: 'Levitation', sans-serif;
    --inconsola-font: 'Inconsolata', monospace;
    --comfortaa-font: 'Comfortaa', cursive;

    --detection-color: rgb(0, 194, 0);
}

body {
    background-color: var(--background-color);
    color: white;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    background-color: var(--background-color);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
  
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    z-index: -1;
}

.sidebar {
    height: 100%;
    width: 20%;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    flex-direction: column;
    background-color: var(--sidebar-color);
}

.sidebar-branding {
    display: flex;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
    padding: 5px;
    color: var(--main-color);
}

.sidebar-branding-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sidebar-branding-text-title {
    margin: 0;
    font-weight: 200;
    text-align: center;
    font-family: var(--comfortaa-font);
}

.sidebar-branding-text-subtitle {
    margin: 0;
    font-weight: 200;
    color: var(--secondary-color);
    font-family: var(--comfortaa-font);
}


.sidebar-content {
    width: calc(100% - 20px);
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 5px;
    background-color: var(--sidebar-buttons);
    box-sizing: border-box;
    margin: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
}

.sidebar-content-text {
    display: flex;
    height: 100%;
    width: 60%;
    text-overflow: clip;
    overflow: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    padding: 5px;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.sidebar-content-text::-webkit-scrollbar {
    width: 5px;
    color: var(--secondary-color);
    border-radius: 10px;
    visibility: hidden;
}

.sidebar-content-text h1 {
    margin: 0;
    font-weight: 200;
    color: white;
    font-family: var(--comfortaa-font);
}

.sidebar-content-text h2 {
    margin: 0;
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: 200;
    color: var(--secondary-color);
    font-family: var(--comfortaa-font);
}

.sidebar-content-text p {
    margin: 0;
    font-size: 12px;
    font-weight: 200;
    color: var(--secondary-color);
    font-family: var(--comfortaa-font);
}

.stars-holder {
    width: 100%;
    height: 100%; 
    margin-top: 2px;
}

.stars-holder i {
    color: var(--secondary-color);
}

.sidebar-content-image {
    width: 40%;
    height: 100%;
    padding: 5px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.sidebar-content-image img {
    width: 95%;
    height: 95%;
    box-sizing: border-box;
    border-radius: 10px;
    object-fit: cover;
}

.sidebar-buttons {
    width: calc(100% - 20px);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: var(--sidebar-buttons);
    box-sizing: border-box;
    flex-grow: 1;
    margin: 10px;
    border-radius: 10px;
}

.sidebar-button {
    font-size: 105%; 
    background-color: transparent;
    width: 100%;
    padding: 0 15px; 
    margin: 0; 
    border-radius: 15px;
    border: 0;
    color: white;
    text-align: left;
    font-family: var(--comfortaa-font);
    transition: all 0.1s ease-in;
    box-sizing: border-box; 
}

.sidebar-button i {
    display: inline-block;
    width: 25px; 
    text-align: center; 
    margin-right: 10px;
    font-size: 130%; 
    color: white;
    line-height: 1;
    vertical-align: middle;
}

.sidebar-button:hover {
    background-color: var(--sidebar-button-hover);
}

.main-content {
    width: calc(100% - 20%);
    height: 100%;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    overflow-x: hidden;
    overflow-y: auto;
}

.main-content::-webkit-scrollbar {
    width: 5px;
    color: var(--secondary-color);
    border-radius: 10px;
    visibility: hidden;
}

.main-content::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color);
    border-radius: 10px;
}

.main-content::-webkit-scrollbar-thumb:hover {
    background-color: var(--sidebar-buttons);
}

.main-content::-webkit-scrollbar-track {
    background-color: var(--sidebar-color);
    border-radius: 10px;
}

.banner {
    width: calc(100% - 40px);
    height: 60%;
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 20px;
    background-color: var(--panel-header-color);
    box-sizing: border-box;
    border-radius: 10px;
}

.banner-content-text {
    width: 50%;
    height: 100%;
    max-width: 50%;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.banner-content-text h1 {
    margin: 0;
    font-weight: 200;
    color: var(--main-color);
    font-family: var(--comfortaa-font);
}

.banner-content-text h2 {
    margin: 0;
    margin-bottom: 10px;
    font-weight: 200;
    color: var(--secondary-color);
    font-family: var(--comfortaa-font);
}

.banner-content-text h3 {
    margin: 0;
    margin-top: 20px;
    font-weight: 200;
    align-self: start;
    color: var(--secondary-color);
    font-family: var(--comfortaa-font);
}

.banner-content-text h3 span {
    color: var(--main-color);
}

.banner-content-text ul {
    margin: 0;
    padding-inline-start: 0px;
    list-style: none;
    margin-top: 10px;
    align-self: start;
}

.banner-content-text li {
    margin: 0;
    margin-bottom: 10px;
    font-weight: 200;
    align-self: start;
    color: var(--secondary-color);
    font-family: var(--comfortaa-font);
}

.banner-content-text li span {
    color: var(--main-color);
}

.banner-content-text button {
    background-color: var(--button-color);
    color: white;
    padding: 10px 20px;
    height: 50px;
    border: 0;
    width: calc(100% - 40px);
    margin: 20px;
    margin-left: 0px;
    border-radius: 10px;
    font-family: var(--comfortaa-font);
    font-weight: 600;
    cursor: pointer;
    transition: all 0.15s ease-in;
}

.banner-content-text button:hover {
    background-color: var(--button-hover-color);
    transform: scale(1.035);
}

.banner-content-video {
    width: 50%;
    padding: 20px;
    align-self: flex-end;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    perspective: 1000px;
    position: relative;
    margin-right: 25px;
}

.video-rounding {
    z-index: 1;
    width: 100%;
    height: 80%;
    border-radius: 10px;
    overflow: hidden;
    inset: 0;
    box-sizing: border-box;
    perspective: 1000px;
}

.video-rounding video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.video-background {
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 10px;
    border: 1px solid var(--panel-header-color);
    position: absolute;
}

.video-background {
    filter: blur(5px);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5); 
}

@media screen and (min-width: 1500px) {
    .sidebar {
        width: 20%;
    }

    .sidebar-branding-text-title {
        font-size: 125%;
    }

    .sidebar-branding-text-subtitle {
        font-size: 80%;
    }
    
    .sidebar-button {
        height: 20%;
    }
    
    .sidebar-content {
        height: 15%;
    }
    
    .sidebar-content-text h1 {
        font-size: 0.95em;
    }
    
    .stars-holder i {
        font-size: 90%;
    }

    .banner-content-text h1 {
        font-size: 200%;
    }

    .banner-content-text h2 {
        font-size: 150%;
    }

    .banner-content-text h3 {
        font-size: 130%;
    }

    .banner-content-text li {
        font-size: 120%;
    }

    .banner-content-text button {
        font-size: 130%;
    }
}

@media screen and (max-width: 1580px) {
    .sidebar {
        width: 25%;
    }

    .sidebar-branding-text-title {
        font-size: 115%;
    }

    .sidebar-branding-text-subtitle {
        font-size: 75%;
    }

    .sidebar-button {
        height: 20%;
    }

    .sidebar-content {
        height: 20%;
    }

    .sidebar-content-text h1 {
        font-size: 1.1em;
    }
    
    .stars-holder i {
        font-size: 90%;
    }

    .banner-content-text h1 {
        font-size: 170%;
    }

    .banner-content-text h2 {
        font-size: 120%;
    }

    .banner-content-text h3 {
        font-size: 100%;
    }

    .banner-content-text li {
        font-size: 90%;
    }

    .banner-content-text button {
        font-size: 120%;
    }
}